@use '@/shared/lib/styles/mixin.scss' as *;

.pricing_hero {
  background: #f1f6fd;
  &__content {
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @include tablet {
      border: none;
    }
    h1 {
      color: var(--color-black-solid, #000);
      text-align: center;
      font-size: 60px;
      font-style: normal;
      font-weight: 300;
      line-height: 120%; /* 72px */
      letter-spacing: var(--letter-spacing--0_25, -0.25px);
      font-family: var(--font-cabinet-grotesk);
      @include tablet {
        font-size: 36px;
      }
    }
    h2 {
      color: var(--color-blue-55, #384ce3);
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 22.4px */
      letter-spacing: var(--letter-spacing--0_25, -0.25px);
    }
    p {
      color: var(--color-black-solid, #000);
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 22.4px */
      letter-spacing: var(--letter-spacing--0_25, -0.25px);
      max-width: 800px;
      margin: 0 auto;
      @include tablet {
        font-size: 14px;
        max-width: 100%;
      }
    }
  }
  &__buttons {
    display: flex;
    gap: 10px;
    margin: 12px 0 32px 0;
    @include tablet {
    }
  }
  &__image {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
      &.desktop_image {
        display: block;
        @include tablet {
          display: none;
        }
      }
      &.mobile_image {
        display: none;
        @include tablet {
          display: block;
        }
      }
    }
  }
}
